<template>
  <div class="card">
    <nuxt-link :to="'blog/'+this.data.slug">
      <div class="thumb">
        <img :src="this.data.thumbnail" alt="thumbnail">
      </div>
      <div class="meta">
        <h2 class="title">{{ this.data.title }}</h2>
        <p>{{ this.data.description }}</p>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  props: ["data"]
};
</script>
<style lang="scss" scoped>
.card {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #ffffff;
  @media (max-width: 568px) {
    width: 100%;
    height: 60vw;
  }
  .thumb {
    overflow: hidden;
    height: 200px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition-duration: 400ms;
    }
  }
  .meta {
    min-height: 80px;
    width: 100%;
    text-align: left;
    padding: 1em;
    .title {
      margin: auto;
      text-overflow: ellipsis;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 400;
      color: #000;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      color: #000;
      text-overflow: ellipsis;
      max-width: calc( 100% - 2em )
    }
  }
  &:hover {
    .thumb img {
      transform: scale(1.2);
    }
    .title {
      color: #1b2055;
    }
  }
}
</style>
