<template>
  <footer>
    <div class="Ycontainer contact">
      <hr class="Y"/>
      <nuxt-link to="/get-a-quote" class="Y btn sun">Request a Custom Quote Whitin 24 hours</nuxt-link>
      <span>Or</span>
      <h1>
        <span class="YW-2">Get in</span> Touch
      </h1>
      <p><span class="YW-6">via email:</span> <a class="YW-4" href="mailto:contact@yonayn.com">contact@yonayn.com</a></p>
    </div>
    <div class="bot Ycontainer-fluid">
      <nav>
        <ul>
          <li>
            <nuxt-link to="/">About</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/work">Work</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/blog">Blog</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/contact">Contact</nuxt-link>
          </li>
        </ul>
      </nav>
      <div class="cr">
        <div>
          <p>© Copyright 2020</p>
        </div>
        <div class="logo">
          <img src="~/assets/svg/flogo.svg" alt="yonayn logo">
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  background-color: #fff;
  // background: linear-gradient(180deg, #15bee5, #1991ce);
  margin: 0;
}
.contact {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto;
  hr{
      width: 700px;
      max-width: 80vw;
      margin: 30px auto;
  }
  .btn{
    margin: 20px auto;
  }
  h1 {
    font-size: 60px;
    margin: 10px auto;
  }
    p a{
        color: #000;
        &:hover{
            color: #ffc938;
        }
    }
}
.bot {
  background: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
  nav {
    margin: 10px auto;
    margin-top: 30px;
    ul {
      width: 500px;
      max-width: 90vw;
      display: flex;
      justify-content: space-between;
      li {
        a {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
  .cr {
    margin: 16px auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    p {
      color: #fff;
      font-weight: 200;
      font-size: 16px;
    }
    .logo {
      img {
        height: 30px;
      }
    }
    &>div{
        margin: auto 12px;
    }
  }
}
</style>


