<template>
  <nuxt-link :to="data.buttonLink || '/404'">
    <div
      class="YContainer-fluid Yshadow container"
      :style="{ background: data.bgColor }"
      :class="left?'reverse':''"
    >
      <div class="main">
        <div class="left" :style="{ backgroundImage: 'url('+bgImage+')' }"></div>
        <div class="content">
          <h2>{{ data.title || "" }}</h2>
          <p>{{ data.text || "" }}</p>
          <h4 :style="{textAlign: 'left'}">Tech Stack:</h4>
          <ul class="bot">
            <li v-for="(item, index) in data.tech" :key="index">
              <label class="Y-2">{{item}}</label>
            </li>
          </ul>
        </div>
      </div>
      <nuxt-link
        :to="data.buttonLink || '/404'"
        tag="button"
        class="dbutton Y sun"
      >{{ data.buttonText }}</nuxt-link>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  props: ["data", "left"],
  computed: {
    bgImage() {
      // return this.data.bgImage;
      return require(`~/assets/${this.data.bgImage}`);
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  text-align: center;
  font-size: 36px;
}
.container {
  margin: 0 auto;
  // border-radius: 50px;
  background-color: #00539c;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  @media (max-width: 800px) {
    margin: 80px auto;
  }
}
.main {
  min-height: 400px;
  width: 100%;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: contain;
  text-align: left;
  display: grid;
  grid-template-columns: auto 50%;
  @media (max-width: 800px) {
    grid-template-columns: auto;
    grid-template-rows: 240px auto;
  }
}
.left {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  @media (max-width: 800px) {
    background-position-x: center;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 44px;
  @media (max-width: 800px) {
    padding: 22px 22px 40px;
  }
  & > * {
    margin-bottom: 27px;
  }
  .bot {
    margin-top: auto;
    margin-bottom: 50px;
    li {
      display: inline-block;
      margin: 0 2px;
    }
  }
}
.dbutton {
  position: absolute;
  bottom: 0;
  font-size: 1.2em;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 2px;
  transition-duration: 400ms;
  @media (max-width: 460px) {
    border-top-left-radius: 0;
    left: 0;
    width: 100%;
  }
  left: 0;
  right: unset;
}
.reverse {
  .dbutton {
    position: absolute;
    border-top-left-radius: 2px;
    border-top-right-radius: unset;
    left: unset;
    right: 0;
  }

  @media (min-width: 800px) {
    .left {
      grid-column-start: 2;
      grid-row-start: 1;
    }
    .content {
      grid-column-start: 1;
    }
  }
}
@media (min-width: 800px) {
  .container:hover {
    .dbutton {
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      border-radius: 40px;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
    &.reverse {
      .dbutton {
        left: initial;
        transform: translateX(50%);
        right: 50%;
      }
    }
  }
}
</style>
