<template>
  <div class="top_bar Ycontainer-fluid" :class="{ 'scrolled' : isScrolled, 'light' : isLight }">
    <div class="mob_nav" :class="{ toggled : isMobNavToggled  }">
      <div class="content">
        <nav>
          <ul class="navigation">
            <li>
              <nuxt-link @click.native="toggleMobNav" to="/get-a-quote">Hire Us</nuxt-link>
            </li>
            <li>
              <nuxt-link @click.native="toggleMobNav" to="/work">Work</nuxt-link>
            </li>
            <li>
              <nuxt-link @click.native="toggleMobNav" to="/blog">Blog</nuxt-link>
            </li>
            <li>
              <nuxt-link @click.native="toggleMobNav" to="/contact">Contact</nuxt-link>
            </li>
          </ul>
        </nav>
        <div class="toggle show-mobile" @click="toggleMobNav">
          <button>
            <unicon class="bars" height="30px" width="30px" name="bars" fill="#000000"></unicon>
            <unicon class="up" height="40px" width="40px" name="angle-up" fill="#000000"></unicon>
          </button>
        </div>
      </div>
    </div>
    <nav class="Ycontainer b_nav">
      <ul class="navigation">
        <li>
          <nuxt-link class="hide-mobile aborder" to="/get-a-quote">Hire Us</nuxt-link>
        </li>
        <li>
          <nuxt-link class="hide-mobile aborder" to="/work">Work</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/">
            <img class="logo" alt="brand logo" :src="this.logo">
          </nuxt-link>
        </li>
        <li>
          <nuxt-link class="hide-mobile aborder" to="/blog">Blog</nuxt-link>
        </li>
        <li>
          <nuxt-link class="hide-mobile aborder" to="/contact">Contact</nuxt-link>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
export default {
  props: ["stuck", "theme"],
  created() {
    if (process.client) {
      window.addEventListener("scroll", this.handleScroll);
    }
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener("scroll", this.handleScroll);
    }
  },
  data() {
    return {
      isScrolled: false,
      isMobNavToggled: false,
      isLight: this.theme === "light",
      logo: require(this.theme === "light"
        ? "~/assets/imgs/logo-black.png"
        : "~/assets/imgs/logo-white.png")
    };
  },
  methods: {
    handleScroll(event) {
      if (!this.stuck) {
        this.isScrolled = window.scrollY < 1 ? false : true;
      }
    },
    toggleMobNav(event) {
      this.isMobNavToggled = !this.isMobNavToggled;
    }
  }
};
</script>

<style lang="scss" scoped>
@media (max-width: 800px) {
  .hide-mobile {
    display: none;
  }
}
@media (min-width: 800px) {
  .show-mobile {
    display: none;
  }
}
.top_bar {
  height: 120px;
  max-width: 100vw;
  position: absolute;
  top: 0;
  z-index: 10;
  @media (max-width: 800px) {
    padding-top: 24px;
  }
}
img.logo {
  height: 90px;
  padding: 20px 0;
  max-width: 50vw;
  object-fit: contain;
  transition-duration: 300ms;
  @media (max-width: 800px) {
    margin-top: 16px;
  }
}
.b_nav .navigation {
  list-style: none;
  display: flex;
  padding: 0;
  li {
    flex: 1;
    display: flex;
    a {
      margin: auto;
      font-size: 1.2em;
      font-weight: 300;
      color: #ffffff;
    }
  }
}

.aborder {
  background: linear-gradient(90deg, transparent 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, transparent 50%);
  background-position: 100% 100%, 0 0;
  padding: 8px 10px;
  opacity: 0.8;
  transition-duration: 400ms;
}
.aborder:hover {
  background: linear-gradient(90deg, #ffc900 50%, transparent 50%),
    linear-gradient(90deg, #ffc900 50%, transparent 50%);
  background-position: 212px 100%, 212px 0;
  background-repeat: repeat-x, repeat-x;
  background-size: 14px 4px, 14px 4px;
  transition: background-position 2s;
  opacity: 1;
}
@media (min-width: 800px) {
  .top_bar.scrolled {
    background: #18265d;
    height: auto;
    position: fixed;
    transition-duration: 200ms;
    background-image: linear-gradient(0deg, #18265d, #1e1b4e);

    img.logo {
      height: 36px;
      padding: 5px 0;
      max-width: 50vw;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
}
.mob_nav {
  @media (min-width: 800px) {
    display: none;
  }
  .content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .toggle {
    text-align: center;
    display: block;
    button {
      border-radius: 100%;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      height: 90px;
      width: 90px;
      border: 0;
      background: #fff;
      margin-top: -45px;
      outline: none;
      border-bottom: 1px solid #000;
      & > span {
        margin: auto 6px;
      }
      .unicon {
        margin-top: 48px;
      }
      .up {
        display: none;
      }
    }
  }
  nav {
    max-height: 0;
    transition-duration: 0.6s;
    overflow: hidden;
    width: 100%;
    background: #eee;
    border-bottom: 1px solid #000;
    position: relative;
    z-index: 1;
    .navigation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: -4px;
      li {
        width: 100%;
        margin: 0;
        margin-bottom: 4px;
        border-left: 2px solid #ffc900;
        background: #ffffff80;
        a {
          color: #000;
          padding: 1em 1.5em;
          display: block;
        }
        &:hover {
          background: #e6e6e6b3;
        }
      }
    }
  }
  &.toggled {
    nav {
      max-height: 100vh;
    }
    .toggle {
      button {
        .unicon {
          margin-top: 44px;
        }
        .bars {
          display: none;
        }
        .up {
          display: block;
        }
      }
    }
  }
}
.light {
  color: #010101;
  a {
    color: #010101 !important;
  }
}
</style>
