<template>
  <nuxt-link :to="data.buttonLink || '/404'" class="container">
    <div class="Yshadow circle" :style="{ background: data.bgColor }">
      <img class="image" :src="bgImage">
    </div>
    <div class="title">
      <h2>{{ data.title || "" }}</h2>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  props: ["data"],
  computed: {
    bgImage() {
      return require(`~/assets/${this.data.bgImage}`);
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &:hover {
    .circle {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22) !important;
    }
    h2 {
      color: #ffc52f;
    }
  }
}
.circle {
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  background-color: #00539c;
  height: 240px;
  width: 240px;
  max-width: 24vw;
  max-height: 24vw;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (max-width: 770px) {
    max-width: 50vw;
    max-height: 50vw;
  }
}
.image {
  // margin: auto 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  margin: auto;
  h2 {
    font-size: 1.3em;
  }
}
</style>
