<template>
  <nuxt-link :to="'blog/'+this.data.slug">
    <div class="card">
      <div class="thumb">
        <img :src="this.data.thumbnail" alt="thumbnail">
      </div>
      <div class="meta">
        <h3 class="title">{{ this.data.title }}</h3>
        <p class="desc">{{ this.data.description }}</p>
        <div class="bot">
          <button class="Y ocean small">Read</button>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  props: ["data"]
};
</script>
<style lang="scss" scoped>
.card {
  height: 200px;
  width: 700px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: grid;
  grid-template-columns: 200px auto;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @media (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    height: auto;
    width: 100%;
  }
  .thumb {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .meta {
    display: grid;
    grid-template-rows: 33px auto 60px;
    padding: 0 20px;
    text-align: left;
    .title {
      font-size: 18px;
      font-weight: 500;
      margin: 12px 0;
      text-transform: capitalize;
      text-overflow: ellipsis;
      color: #000;
    }
    .desc {
      font-size: 15px;
      font-weight: 400;
      color: #000000b3;
      text-overflow: ellipsis;
    }
    .bot {
      text-align: right;
    }
  }
}
</style>
