//vue-select input styling
//  Active State
$vs-state-active-bg: #00539c;
$vs-state-active-color: #fff;

@import "vue-select/src/scss/vue-select.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.vs__dropdown-toggle {
  background: #f1efec;
}

.vs__open-indicator {
  cursor: pointer;
}

input {
  background: #f1efec;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  outline-color: #0851a4;
}

//*******-----------******// CUSTOM STYLES //*******-----------******//
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: rgb(239, 240, 247);
  text-decoration: none;
  font-weight: 500;
  transition-duration: 200ms;

  &:hover {
    color: #ffca38dc;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// headings

h1 {
  font-size: calc(20px + 1vw);
}

h3 {
  font-size: calc(8px + 1vw);
}

//*******-----------******// BASIC LAYOUTS //*******-----------******//
/*
    .Ywrapper
    .Ycontainer .Ycontainer-fluid
*/

.Ywrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;
}

.Ycontainer,
.Ycontainer-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
  overflow: hidden;
}

.Ycontainer {
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

/*
    button.Y
*/
button {
  cursor: pointer;
}

button.Y,
.btn.Y {
  border: 1px solid #eeeeeeb3;
  background: black;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  padding: 1em 2em;
  border-radius: 4px;
  transition-duration: 200ms;

  &.sun {
    font-weight: 600;
    background: #ffc900;
    color: #000000ff;
    border: 1px solid transparent;
    background: linear-gradient(40deg, #ffc900, rgb(253, 218, 90));

    &:hover {
      border: 1px solid rgb(196, 163, 45);
      background: linear-gradient(40deg, #ffc900, #ffc900);
    }
  }

  &.smoke {
    font-weight: 600;
    background: #e4e4e4;
    color: #000000b3;
    border: 1px solid #e4e4e4;

    &:hover {
      background: #eee;
    }
  }

  &.sunlight {
    font-weight: 600;
    color: #000000ff;
    border: 1px solid rgb(196, 163, 255);
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 200, 124, 1) 0%,
      rgba(252, 251, 121, 1) 90%
    );

    &:hover {
      border: 1px solid rgb(196, 163, 45);
    }
  }

  &.ocean {
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(0deg, #18265d, #1e1b4e);
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #fff;
    }
  }
  &.tree {
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient( 109.6deg,  rgba(114,210,39,.8) 11.3%, rgba(100, 177, 42, 0.8) 100.2% );
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #fff;
    }
  }

  // sizes
  &.small {
    padding: 0.8em 2em;
    font-size: 15px;
  }
}

// Input
textarea.Y,
input.Y {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
  -webkit-appearance: none;
}

textarea.Y {
  height: 100px;
}

// HR
hr.Y {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to left, #ccc, #333, #ccc);
}

/*
    label.Y + label.Y-2
*/
label.Y {
  font-size: 14px;
  font-weight: bold;
  color: #2d4059;
  background: #f1fffc;
  padding: 0.6em 2em;
  display: inline-block;
}

label.Y-2 {
  font-size: 13px;
  font-weight: bold;
  color: #2d4059;
  background: #f1fffc;
  border-radius: 7px;
  padding: 0.4em 1em;
  display: inline-block;
  margin: 3px;
}

/*
 .Yshadow
*/
.Yshadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Yshadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// FONT WEIGHT
.YW-1 {
  font-weight: 100 !important;
}

.YW-2 {
  font-weight: 200 !important;
}

.YW-3 {
  font-weight: 300 !important;
}

.YW-4 {
  font-weight: 400 !important;
}

.YW-5 {
  font-weight: 500 !important;
}

.YW-6 {
  font-weight: 600 !important;
}

.YW-7 {
  font-weight: 700 !important;
}

.YW-8 {
  font-weight: 800 !important;
}

.YW-9 {
  font-weight: 900 !important;
}

// responsive
@media (max-width: 800px) {
  .hide-sm {
    display: none;
  }
}

//.Y.box
.Y.box {
  border-radius: 9px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  background: #fff;
  overflow: hidden;
  margin: 20px auto;

  header {
    border-bottom: 1px solid #e0e0e0;
    background: #eee;
    padding: 1em 2.6em;
    color: #222;
    text-align: left;

    h1,
    h2 {
      font-weight: 400;
    }
  }

  main {
    padding: 30px;
  }
}


///////////////////////////////////// ANIMATIONS
.overflow-enter-active, .overflow-leave-active {
  transition: 1000ms;
  max-height: 500px;
  overflow: hidden;
  margin: 2em auto!important;
}
.overflow-enter, .overflow-leave-to {
  max-height: 0 !important;
  margin: 0 auto!important;
}