<template>
  <div class="layout">
    <Navbar stuck="1"/>
    <Nuxt keep-alive/>
  </div>
</template>
<style lang="scss" scoped>
.layout{
    width: 100%;
    overflow: hidden;
    position: relative;
}
</style>
