<template>
  <div class="container">
    <div class="top">
      <img class="thumb" :src="article.thumbnail" alt="thumbnail">
      <div class="overlay"></div>
      <h1>{{ article.title }}</h1>
    </div>
    <article class="Ycontainer">
      <nuxt-content :document="article"/>
    </article>
  </div>
</template>
<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content("articles", params.slug).fetch();

    return { article };
  }
};
</script>
<style lang="scss" scoped>
.container {
  background: #ffffff;
}
.top {
  height: 500px;
  width: 100%;
  transition-duration: 300ms;
  position: relative;
  .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    transition-duration: 300ms;
  }
  &:hover {
    height: 80vh;
    .overlay {
      background: rgba(0, 0, 0, 0);
    }
    h1 {
      opacity: 0;
    }
  }
  h1 {
    margin: 0;
    position: absolute;
    bottom: 120px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: calc(20px + 1vw);
    transition-duration: 300ms;
  }
}
article{
  text-align: center;
  padding-top: 30px;
}
</style>
