<template>
  <div>
    <header>
      <div class="content">
        <h1>Various posts and news about web design</h1>
      </div>
    </header>
    <main class="Ycontainer">
      <h2>Latest articles</h2>
      <ul class="posts">
        <li v-for="post in posts" :key="post.slug">
          <BlogCard :data="post"/>
        </li>
      </ul>
    </main>
  </div>
</template>
<script>
export default {
  async asyncData({ $content }) {
    const posts = await $content("articles")
      .sortBy("createdAt", "desc")
      .fetch();
    return { posts };
  }
};
</script>
<style lang="scss" scoped>
header {
  height: 500px;
  width: 100%;
  background-image: url("~assets/imgs/bbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  .content {
    background: #000000b3;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    h1 {
      margin: auto;
    }
  }
}
main {
  margin-top: 30px;
  h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: flex-start;
    li {
      margin: 30px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
</style>

