<template>
  <div class="all">
    <header>
      <div class="content">
        <h2>We'd love to hear from you</h2>
        <p>
          If you have a job request please use
          <a href="s">this link</a> or the button below.
        </p>
        <button class="Y sun">Request a Quote</button>
      </div>
    </header>
    <main>
      <div class="info">
        <h1>
          Send Us a message using the form, or
          <a href="mailto:achraf@gmail.com">email us</a>.
        </h1>
        <div>
          <p class="adress">
            <span>322, Lot. Lina</span>
            <span>Sidi MaÇrouf</span>
            <span>Casablanca, Morocco</span>
            <span>+212622321716</span>
          </p>
          <br />
          <p>
            <span class="YW-6">email:</span>
            <span class="YW-4">contact@yonayn.com</span>
          </p>
        </div>
      </div>
      <div class="form">
        <form name="contact-us" method="POST" data-netlify="true">
          <input type="hidden" name="form-name" value="contact-us" /> 
          <div class="form-item">
            <label>Full Name:</label>
            <input name="name" placeholder="Albert Einstein" class="Y" type="text" />
          </div>
          <div class="form-item">
            <label>Email:</label>
            <input name="email" placeholder="Albert@example.com" class="Y" type="text" />
          </div>
          <div class="form-item">
            <label>Business Name (optional):</label>
            <input name="business-name" placeholder="McDonald's Corporation" class="Y" type="text" />
          </div>
          <div class="form-item">
            <label>Business Email (optional):</label>
            <input name="business-email" placeholder="business@example.com" class="Y" type="text" />
          </div>
          <div class="form-item">
            <label>Your Message:</label>
            <textarea name="message" placeholder="I have an idea for a project..." class="Y"></textarea>
          </div>
          <div class="form-item">
            <button class="Y ocean" type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</template>


<style lang="scss" scoped>
.all {
}
header {
  height: 500px;
  background: linear-gradient(0deg, #00539c, #1f1b4e);
  .content {
    height: 100%;
    width: calc(100% - 4em);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #fff;
    backdrop-filter: blur(6px);
    padding: 0 2em;
    h2 {
      margin: 0;
      margin-top: 50px;
      font-weight: 800;
      font-size: 44px;
    }
    button {
      margin: 10px auto;
    }
  }
}
main {
  display: grid;
  grid-template-columns: 50% 50%;
  .info {
    width: 500px;
    max-width: calc(100vw - 4em);
    margin-left: auto;
    padding: 2em;
    h1 {
      color: #1f1b4e;
      font-weight: 300;
    }
    a {
      font-weight: 300;
      color: #ffc938;
      &:hover {
        text-decoration: underline;
      }
    }
    p.adress {
      font-weight: 400;
      font-size: 17px;
      span {
        display: block;
        margin: 7px auto;
      }
    }
  }
  .form {
    background: #fff;
    max-width: calc(100vw - 4em);
    padding: 2em;
    .form-item {
      margin-right: auto;
      margin-bottom: 20px;
      width: 360px;
      max-width: 100%;
      label {
        display: block;
        width: 100%;
      }
      input,
      textarea {
        width: calc(100% - 20px);
      }
    }
  }
  @media (max-width: 800px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    .form-item,
    .info {
      margin: auto;
    }
    .info {
      text-align: center;
      padding-bottom: 0;
    }
  }
}
</style>
