<template>
  <form>
    <!-- step 3 -->
    <div class="form-item step-1">
      <label>
        industry
        <span class="red">*</span>
      </label>
      <v-selectmenu language="en" :data="industries" key-field="id" title="industry"></v-selectmenu>
    </div>
    <div class="form-item step-1">
      <label>
        Who is your target audience?
        <span class="red">*</span>
      </label>
      <input type="text">
    </div>
    <div class="form-item step-1">
      <label>
        What are the key reasons users may have for visiting the site?
        <span class="red">*</span>
      </label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>What should the site communicate?</label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>What are the primary objectives and goals (long term and shortterm) for the site?</label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>What already exists and what needs to be developed?</label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>What content will be needed for the site?</label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>
        <input type="checkbox"> Do you want your website to be optimized for SEO?
      </label>
    </div>
    <div class="form-item step-3">
      <label>What is the URL of 2-3 reference websites that you like?</label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>What pages do you need on your website?</label>
      <input type="text">
    </div>
    <div class="form-item step-3">
      <label>
        <input type="checkbox"> Do you need help updating and maintaining your website?
      </label>
    </div>
  </form>
</template>
