
<script>
export default {
  async asyncData({ $content }) {
    let servs = await $content("services").fetch();
    return {
      services: servs.data
    };
  },
  head: {
    link: [
      {
        rel: "canonical",
        href: "https://yonayn.com/"
      }
    ],
    meta: [
      {
        property: "og:title",
        content: "Yonayn: get a quote for your new website"
      },
      {
        property: "og:image",
        content:
          "https://yonayn.com" + require("~/assets/imgs/website-mockup.jpg")
      }
    ]
  }
};
</script>
<template>
  <div>
    <header>
      <div class="main">
        <div class="content">
          <div>
            <h2>Design. Innovate. Create.</h2>
            <h3>Your Online Presence with The Perfect Website</h3>
          </div>
          <div>
            <nuxt-link to="/get-a-quote" class="Y btn sun">Get Your Website Now</nuxt-link>
          </div>
          <div>
            <p>we provide a free prototype of website for new clients</p>
          </div>
          <div class="woman">
            <img src="~/assets/svg/woman.svg" alt>
          </div>
        </div>
      </div>
    </header>
    <div class="services" id="services">
      <div class="Ycontainer">
        <label class="Y">WHAT WE CAN DO FOR YOU</label>
        <h2>Services we can help you with</h2>
        <h1>Web Development from Design to Launching</h1>
        <ul class="slist">
          <li v-for="(item, index) in services" :key="index">
            <LargeCard :data="item" :left="index% 2 === 0"/>
          </li>
        </ul>
      </div>
      <img class="blob" src="~/assets/svg/blob/1.svg" alt>
      <img class="blob2" src="~/assets/svg/blob/2.svg" alt>
      <img class="blob3" src="~/assets/svg/blob/3.svg" alt>
      <img class="blob4" src="~/assets/svg/blob/4.svg" alt>
    </div>
    <div class="Ycontainer-fluid approach">
      <div class="Ycontainer container">
        <h2>
          <span class="YW-2">Our</span> approach
        </h2>
        <div class="content">
          <div class="left hide-sm">
            <div class="img"></div>
            <div class="img two"></div>
          </div>
          <ul class="proccess-list">
            <li>
              <span>
                <span class="YW-8">Planning</span>
                <br>&
                <br>
                <span class="YW-8">Goal</span> identification
              </span>
              <div class="arrow-d"></div>
            </li>
            <li>
              <span>
                <span class="YW-8">Wireframe</span>
                <br>&
                <br>
                <span class="YW-8">Proto</span>-type
              </span>
              <div class="arrow-d"></div>
            </li>
            <li>
              <span>
                <span class="YW-8">Developement</span>
              </span>
              <div class="arrow-d"></div>
            </li>
            <li>
              <span>
                <span class="YW-8">Testing</span>
                <br>&
                <span class="YW-8">Launching</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="clouds1">
        <img src="~/assets/svg/clouds1.svg" alt>
      </div>
      <div class="rocket">
        <img src="~/assets/svg/rocket.svg" alt>
      </div>
      <div class="clouds2">
        <img src="~/assets/svg/clouds2.svg" alt>
      </div>
    </div>
    <div class="Ycontainer team">
      <h2>
        <span class="YW-2">Our</span> Team
      </h2>
      <p class="YW-4">
        A distributed team of
        <span class="YW-7">experienced developers</span> and
        <br>digital
        <span class="YW-7">product professionals</span>.
      </p>
      <div>
        <img src="~/assets/imgs/teammap.png" alt="team map">
      </div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
@media screen and (max-width: 600px) {
}
h2 {
  font-size: 34px;
}
header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  background: linear-gradient(0deg, #00539c, #324ace);
  background: url("~assets/svg/hero-bg.svg") no-repeat;
  // padding-bottom: 120px;
  @media (max-width: 800px) {
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, #00539c, #1f1b4e);
  }
  background-size: 100%;
  background-position-x: center;
  @media (max-width: 1440px) {
    background-size: 1440px;
  }
  .main {
    background: url("~assets/imgs/pc.png") no-repeat;
    background-size: contain;
    height: 40vw;
    max-height: 550px;
    width: calc(40vw * 1.59);
    margin: auto;
    max-width: calc(550px * 1.59);
    background-position-x: center;
    background-position-y: bottom;
    margin-top: calc(100px + 5vw);
    @media (max-width: 800px) {
      background: none;
      height: auto;
      margin-top: calc(70px + 5vw);
      margin-bottom: 20px;
      max-height: initial;
      width: 95%;
    }
  }
  .content {
    width: calc(100% / 1.3);
    height: calc(100% / 1.31);
    padding-top: calc(100% / 26);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    margin-left: calc(100% / 9.6);
    @media (max-width: 800px) {
      width: 95%;
      margin: auto;
    }
    & > div {
      margin: auto;
      text-align: center;
      @media (max-width: 800px) {
        margin: 40px auto;
        margin-bottom: 16px;
      }
    }
    h2,
    h3 {
      color: #ffffff;
    }
    h2 {
      font-weight: 900;
    }
    h3 {
      font-weight: 100;
    }
    p {
      font-weight: 500;
      margin: 0;
      @media (max-width: 800px) {
        color: #ffffff;
      }
    }
    .woman {
      position: absolute;
      left: calc(-15vw - calc(100% / 29));
      width: 15vw;
      bottom: -28px;
      @media (max-width: 800px) {
        display: none;
      }
      img {
        width: 100%;
      }
    }
  }
}

.services {
  text-align: center;
  position: relative;
  .slist {
    margin: 80px auto;
  }
  h1 {
    font-size: 20px;
    font-weight: 300;
  }
  .blob {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 600px;
    z-index: -1;
  }
  .blob2 {
    position: absolute;
    left: 10px;
    max-width: 90vw;
    top: 20px;
    height: 400px;
    z-index: -1;
  }
  .blob3 {
    position: absolute;
    left: 4%;
    top: 50%;
    height: 100px;
    z-index: -1;
  }
  .blob4 {
    position: absolute;
    right: 4%;
    bottom: 110px;
    height: 500px;
    z-index: -1;
  }
}

.approach {
  margin-top: 33px;
  position: relative;
  padding-bottom: 20vw;
  z-index: -2;
  background-image: url("~assets/svg/approach-bg.svg");
  background: linear-gradient(180deg, #15bee5, #1991ce);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -100px;
  background-size: 120%;

  @media (max-width: 800px) {
    background-position-y: bottom;
    padding-bottom: 29vw;
  }
  .clouds1,
  .clouds2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    display: grid;
    z-index: -4;
    &.clouds2 {
      z-index: -2;
      margin-bottom: -100px;
      @media (max-width: 800px) {
        margin-bottom: -10px;
      }
    }
    img {
      width: 120%;
      object-fit: contain;
      margin: 0;
      margin-left: -10%;
    }
  }
  .rocket {
    position: absolute;
    bottom: 0;
    right: 1vw;
    overflow: hidden;
    text-align: center;
    display: grid;
    z-index: -3;
    width: 15vw;
    img {
      width: 100%;
      object-fit: contain;
      margin: 0;
      margin-left: -10%;
    }
  }
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #ffffff;
    h2 {
      font-weight: 700;
    }
    .left {
      .img {
        background-image: url("~assets/svg/undraw_prototyping_process_rswj.svg");
        background-repeat: no-repeat;
        height: 400px;
        margin: 60px auto;
        width: 90%;
        background-size: contain;
        &.two {
          background-image: url("~assets/svg/undraw_web_developer_p3e5.svg");
        }
      }
    }
    .content {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      .left {
        width: 50%;
      }
      .arrow-d {
        margin: auto;
        margin-bottom: 30px;
        background-image: url("~assets/svg/arrow-d.svg");
        background-repeat: no-repeat;
        height: 200px;
        width: 150px;
        display: block;
        background-position: center;
      }
      .proccess-list {
        width: 50%;
        float: right;
        display: flex;
        flex-direction: column;
        margin: auto;
        span {
          font-size: 27px;
          font-weight: 200;
        }
      }
    }
  }
}

.team {
  text-align: center;
  img {
    width: 100%;
    object-fit: contain;
  }
  h2 {
    margin-bottom: 50px;
  }
  p {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 50px;
  }
}
</style>