<template>
  <div class="all-container">
    <div class="form-container">
      <header>
        <span class="steps">Step 2 of 2</span>
        <h1>Tell us about Yourself</h1>
        <span class="sub">We’ll make you a quote based on your responses</span>
      </header>
      <section class="main">
        <span>
          <span class="red">*</span> required fields
        </span>

        <form class="main-form">
          <div class="form-item">
            <label>
              Full Name:
              <span class="red">*</span>
            </label>
            <input name="name" placeholder="Albert Einstein" class="Y" type="text">
          </div>
          <div class="form-item">
            <label>
              Email:
              <span class="red">*</span>
            </label>
            <input name="email" placeholder="Albert@example.com" class="Y" type="email">
          </div>
          <div class="form-item">
            <label>Business Name:</label>
            <input name="business-name" placeholder="..." class="Y" type="text">
          </div>
          <div class="form-item">
            <label>Business Email:</label>
            <input name="business-email" placeholder="business@example.com" class="Y" type="email">
          </div>
          <div class="form-item">
            <label>Anything else you would like us to know?</label>
            <textarea name="message" placeholder="Write your message here." class="Y" style="width: 100%"></textarea>
          </div>
        </form>
      </section>
      <footer>
        <button @click="back" class="Y smoke prev">Previous Step</button>
        <button class="Y tree next">Send</button>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  layout: "full-alive",

  data() {
    if(!this.$route.params.formData){
      this.$router.push("/get-a-quote");
    }
    console.log(this.$route.params);
    return {
      industries: ["dance", "eat", "sleep", "work"]
    };
  },
  methods: {
    back() {
      this.$router.back();
    }
  }
};
</script>
<style lang="scss" scoped>
.red {
  color: red;
}
.all-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #00539c, #324ace);
  padding-top: 130px;
}
.form-container {
  background-color: #fff;
  width: 100%;
  max-width: 770px;
  margin: auto;
  @media (max-width: 770px) {
    margin: 0;
    background-color: #fff;
    min-height: 100vh;
  }
  header {
    margin-bottom: 2em;
    text-align: center;
    padding: 2em 4em;
    color: #637381;
    .steps {
      font-size: 1.1em;
    }
    h1 {
      font-size: 2.2em;
      margin-bottom: 0.7em;
      font-weight: 700;
      color: #212b36;
    }
    .sub {
      font-weight: 300;
      font-size: 1.3em;
    }
  }
  .main {
    padding: 0 2em 1em 2em;
    .form-item {
      margin: 2em auto;
      & > label {
        margin-bottom: 6px;
        display: block;
      }
    }
  }
  footer {
    padding: 1em 2em;
    border-top: 1px solid #dfe3e8;
    text-align: right;
    .prev {
      float: left;
    }
    .next {
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
</style>

