<template>
  <div class="all-container">
    <div class="Ycontainer">
      <header>
        <h1>Get a quote for our web services whitin 24 hours</h1>
        <p>Please provide us with information about your project and we will get back to you in less than a day.</p>
      </header>
      <main>
        <h2>Select the service you are Interested In:</h2>
        <div>
          <ul class="cards-list">
            <li v-for="(item, index) in services" :key="index">
              <SmallCard :data="item"/>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
export default {
  layout: "full-alive",
  async asyncData({ $content }) {
    let servs = await $content("services").fetch();
    return {
      services: servs.data
    };
  }
};
</script>
<style lang="scss" scoped>
.all-container {
  min-height: 100vh;
  width: 100%;
  background: #f2f2f2;
  background: linear-gradient(0deg, #00539c, #324ace);
  text-align: center;
  padding-top: 130px;
  .Ycontainer {
    display: flex;
    flex-direction: column;
    & > * {
      margin: auto;
    }
    & > header {
      color: #fff;
      h1 {
        color: #ffc938;
      }
    }
    & > .box {
      margin: 20px auto;
    }
  }
}
.cards-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
  li{
    margin: 20px ;
  }

  @media (max-width: 770px) {
    flex-direction: column;
  }
}
main {
  padding-top: 4em;
  h2 {
    color: #fff;
  }
}
</style>

