<template>
  <div class="all-container">
    <div class="form-container">
      <header>
        <span class="steps">Step 1 of 2</span>
        <h1>Tell us about your website</h1>
        <span class="sub">We’ll make you a quote based on your responses</span>
      </header>
      <section class="main">
        <span><span class="red">*</span> required fields</span>

        <form class="main-form">
          <div class="form-item">
            <label>
              What type of website you want?
              <span class="red">*</span>
            </label>
            <v-select
              v-model="formData.websiteType"
              class="select-input"
              :class="errors.websiteType?'error':null"
              placeholder="Choose an Option"
              :options="options.websiteTypes"
            ></v-select>
          </div>
          <div class="form-item">
            <label>Do you already have a website?:</label>
            <p-radio :value="true" v-model="formData.hasWebsite" color="primary-o">yes</p-radio>
            <p-radio :value="false" v-model="formData.hasWebsite" color="primary-o">no</p-radio>
          </div>

          <transition name="overflow">
            <div class="form-item" v-if="formData.hasWebsite">
              <label>What's the adress of your old Website?</label>
              <input placeholder="example.com" v-model="formData.oldWebsite" type="text">
            </div>
          </transition>

          <div class="form-item">
            <label>Describe your business in a few sentences:</label>
            <textarea
              v-model="formData.businessDesc"
              style="width: 100%"
              class="Y"
              placeholder="my business is..."
            ></textarea>
          </div>
          <div class="form-item">
            <label>Describe your target audience:</label>
            <textarea
              v-model="formData.targetAudience"
              style="width: 100%"
              class="Y"
              placeholder="(age, demographics, interests... )"
            ></textarea>
          </div>
          <div class="form-item">
            <label>What are some of your competitors or similar websites you like:</label>
            <textarea
              v-model="formData.similarWebsites"
              style="width: 100%"
              class="Y"
              placeholder="example.com"
            ></textarea>
          </div>
          <div class="form-item">
            <label>How fast you want your website?</label>
            <v-select
              class="select-input"
              placeholder="Choose an Option"
              v-model="formData.timeFrame"
              :options="options.websiteDeadline"
            ></v-select>
          </div>
          <div class="form-item">
            <label>
              Approximately how many pages/sections will your website have?
              <span
                class="red"
              >*</span>
            </label>
            <v-select
              class="select-input"
              :class="errors.websitePages?'error':null"
              placeholder="Choose an Option"
              v-model="formData.websitePages"
              :options="options.websitePages"
            ></v-select>
          </div>
          <div class="form-item">
            <label>
              What's your budget?
              <span class="red">*</span>
            </label>
            <v-select
              class="select-input"
              :class="errors.websiteBudget?'error':null"
              placeholder="Choose an Option"
              v-model="formData.websiteBudget"
              :options="options.websiteBudget"
            ></v-select>
          </div>
        </form>
      </section>
      <footer>
        <span v-if="error" class="red">{{error}}</span>
        <nuxt-link to="/get-a-quote">
          <button class="Y smoke prev">Back to Services</button>
        </nuxt-link>
        <button @click="next" class="Y btn ocean next">Next</button>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  layout: "full-alive",
  data() {
    return {
      error: null,
      errors: {
        websiteType: false,
        websitePages: false,
        websiteBudget: false
      },
      formData: {
        websiteType: null,
        hasWebsite: null,
        oldWebsite: null,
        businessDesc: null,
        targetAudience: null,
        similarWebsites: null,
        timeFrame: null,
        websitePages: null,
        websiteBudget: null
      },
      options: {
        websiteTypes: [
          "Small Business Website",
          "Portfolio",
          "Non-profit Website",
          "Blog",
          "Personal Website",
          "Landing page",
          "eCommerce Website",
          "Courses Website",
          "Membership Websites",
          "Niche Websites",
          "Magazine and News Website",
          "Wiki or Community Forum",
          "Product Website",
          "Web Portal",
          "Crowdfunding",
          "Gallery Website",
          "Something else"
        ],
        websitePages: ["5 or less", "5-10", "10-20", "20 or more"],
        websiteDeadline: [
          "Urgent! I want it as fast as possible",
          "Less than a month",
          "One to three months",
          "Whenever it's ready",
          "I don't care as long it's good"
        ],
        websiteBudget: [
          "Less than $1000",
          "$1,000 to $5,000",
          "$5,000 to $10,000",
          "$10,000 to $20,000",
          "$20,000 or more"
        ]
      }
    };
  },
  methods: {
    next() {
      
      this.errors.websiteType = this.formData.websiteType ? false : true;
      this.errors.websitePages = this.formData.websitePages ? false : true;
      this.errors.websiteBudget = this.formData.websiteBudget ? false : true;
      if(this.errors.websiteTypes || this.errors.websitePages || this.errors.websiteBudget){
        this.error = "Please fill all required fields to continue";
        return;
      }
      this.error = null;
      this.$router.push({name: "get-a-quote-complete-request", params: {formData: this.formData}})
    },
    handleInput: function(event) {
      // this.data[e.target.name] = e.target.value;
      console.log(event);
    }
  }
};
</script>
<style>
.v-select.error .vs__dropdown-toggle {
  border-color: red;
}
</style>
<style lang="scss" scoped>
.red {
  color: red;
}
.all-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #00539c, #324ace);
  padding-top: 130px;
  padding-bottom: 100px;
}
.form-container {
  background-color: #fff;
  width: 100%;
  max-width: 770px;
  margin: auto;
  @media (max-width: 770px) {
    margin: 0;
    background-color: #fff;
    min-height: 100vh;
  }
  header {
    margin-bottom: 2em;
    text-align: center;
    padding: 2em 4em;
    color: #637381;
    .steps {
      font-size: 1.1em;
    }
    h1 {
      font-size: 2.2em;
      margin-bottom: 0.7em;
      font-weight: 700;
      color: #212b36;
    }
    .sub {
      font-weight: 300;
      font-size: 1.3em;
    }
  }
  .main {
    padding: 0 2em 1em 2em;
    .form-item {
      margin: 2em auto;
      & > label {
        margin-bottom: 6px;
        display: block;
      }
    }
  }
  footer {
    padding: 1em 2em;
    border-top: 1px solid #dfe3e8;
    text-align: right;
    .prev {
      float: left;
    }
    .next {
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
</style>

